events {}

http {
    upstream backend {
        server ${SERVER_ADDRESS_1};
        server ${SERVER_ADDRESS_2};
    }

    server {
        location / {
            proxy_pass http://backend;
        }
    }
}
